pkgbase = lark-bin
	pkgdesc = Linux client of Lark (Feishu) from Bytedance.
	pkgver = 7.66.10
	pkgrel = 1
	url = https://www.larksuite.com/
	install = lark-bin.install
	arch = x86_64
	arch = aarch64
	license = unknown
	makedepends = curl
	depends = alsa-lib
	depends = ca-certificates
	depends = gtk3
	depends = libappindicator-gtk3
	depends = libglvnd
	depends = nss
	depends = xdg-utils
	provides = lark
	provides = bytedance-lark
	conflicts = lark
	conflicts = larksuite-bin
	options = !strip
	options = !emptydirs
	source_x86_64 = Lark-linux_x64-7.66.10.deb::https://www.larksuite.com/api/package_info?platform=10
	sha256sums_x86_64 = 0561e2e29a55550743afe8c2907eaf2289b23646744865c80f28352f80771eba
	source_aarch64 = Lark-linux_arm64-7.66.10.deb::https://www.larksuite.com/api/package_info?platform=11
	sha256sums_aarch64 = b28ef0fd5c4d10e319738fae79214721f4a047a325d9c33d014e8982a60bb3ab

pkgname = lark-bin
