pkgbase = lark-bin
	pkgdesc = Linux client of Lark (Feishu) from Bytedance.
	pkgver = 7.66.11
	pkgrel = 1
	url = https://www.larksuite.com/
	install = lark-bin.install
	arch = x86_64
	arch = aarch64
	license = unknown
	makedepends = curl
	depends = alsa-lib
	depends = ca-certificates
	depends = gtk3
	depends = libappindicator-gtk3
	depends = libglvnd
	depends = nss
	depends = xdg-utils
	provides = lark
	provides = bytedance-lark
	conflicts = lark
	conflicts = larksuite-bin
	options = !strip
	options = !emptydirs
	source_x86_64 = Lark-linux_x64-7.66.11.deb::https://www.larksuite.com/api/package_info?platform=10
	sha256sums_x86_64 = e90093fde774764111d45cc3f873e86d57956f6441ba19c104cebfc1cf3ee91a
	source_aarch64 = Lark-linux_arm64-7.66.11.deb::https://www.larksuite.com/api/package_info?platform=11
	sha256sums_aarch64 = f6443406540e6d357dde788b907835ef97e088318a9f5b8ee6a840fc8d9ce68a

pkgname = lark-bin
